<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://meshapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dfcdc2f0-e3e4-4d65-b59d-efa2880f1d2f/resourceGroups/MeshResource/providers/Microsoft.Web/sites/meshapp</ResourceId>
    <UserName>$meshapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://meshapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>